<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
			<li><a href="/bio/Bio.html">Bio</a></li>
			<li><a href="/research/Research.html">Research</a></li>
			<li><a href="/resume/Christine_Cai_resume.pdf">Résumé</a></li>
			<li><a href="/Public Goods.html">Public Goods</a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
			<li><a href="/resume/Christine_Cai_resume.pdf">Résumé</a></li>
			<li><a href="mailto:christine.cai@princeton.edu">Email</a></li>
			<li><a href="https://www.linkedin.com/in/christinecai">LinkedIn</a></li>
			<li><a href="https://twitter.com/Christine_Cai27">Twitter</a></li>
        		<li><a href="https://github.com/christinecai">Github</a></li>
			</ul>
		</footer>
	</body>
</html>
